<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
    <meta name="description" content="{{ site_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/wxapp/asset/simpleboot/themes/{{ site_style }}/theme.min.css" rel="stylesheet">
    <link href="/wxapp/asset/simpleboot/css/simplebootadmin.css" rel="stylesheet">
    <link href="/wxapp/asset/simpleboot/font-awesome/4.4.0/css/font-awesome.min.css?page=index"  rel="stylesheet" type="text/css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/wxapp/asset/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" href="/wxapp/asset/simpleboot/themes/{{ site_style }}/simplebootadminindex.min.css?">
    <link href="/wxapp/asset/js/artDialog/skins/default.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/wxapp/asset/simpleboot/css/simplebootadminindex-ie.css?" />
    <![endif]-->
    <style>
        .navbar .nav_shortcuts .btn{margin-top: 5px;}
        .navbar .nav_lists .btn{margin: 10px 5px;}
        .navbar .nav_lists .btn-mid{padding: 2px 12px;}
        .macro-component-tabitem{width:101px;}
        .item-main-toggle-off{margin-left: 0px !important;}

        /*-----------------导航hack--------------------*/
        .nav-list>li.open{position: relative;}
        .nav-list>li.open .back {display: none;}
        .nav-list>li.open .normal {display: inline-block !important;}
        .nav-list>li.open a {padding-left: 7px;}
        .nav-list>li .submenu>li>a {background: #fff;}
        .nav-list>li .submenu>li a>[class*="fa-"]:first-child{left:20px;}
        .nav-list>li ul.submenu ul.submenu>li a>[class*="fa-"]:first-child{left:30px;}
        /*----------------导航hack--------------------*/
    </style>
    <script>
        //全局变量
        var GV = {
            HOST:"/wxapp/",
            ROOT: "/",
            WEB_ROOT: "/",
            JS_ROOT: "/asset/js/"
        };
    </script>
</head>
<body style="min-width:900px;" screen_capture_injected="true">
    <div id="right_tools_wrapper">

        <span id="right_tools_clearcache" title="清除缓存" onclick="javascript:openapp('{{ URL('sys',bid~'/'~pl_name,{'act':act,'mod':mod,'style':site_style}) }}','right_tool_clearcache','清除缓存');"><i class="fa fa-trash-o right_tool_icon"></i></span>
        <span id="toogle_left_side" title="显示边栏" ><i class="fa fa-toggle-on right_tool_icon"></i></span> &nbsp;&nbsp;
        <span id="refresh_wrapper" title="刷新当前页面" ><i class="fa fa-refresh right_tool_icon"></i></span>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="#" class="brand"> <small>
                    {{ site_title }}
                </small>
                </a>
                <div class="pull-left nav_lists">
                    <!-- 获取一级栏目菜单 -->

                    <foreach name="top_menu" item="vo">
                        <a class="btn btn-mid btn-{$vo.info}" href="{$vo.url}/" title="{$vo.name}" target="_self">
                            <i class="fa fa-{$vo.icon}"> {$vo.name}</i>
                        </a>
                    </foreach>

                </div>

                <div class="pull-left nav_shortcuts" style="display: none;">

                    <a class="btn btn-small btn-warning" href="__ROOT__/" title="{:L('WEBSITE_HOME_PAGE')}" target="_blank">
                        <i class="fa fa-home"></i>
                    </a>

                    <if condition="sp_auth_check(sp_get_current_admin_id(),'portal/AdminTerm/index')">
                        <a class="btn btn-small btn-success" href="javascript:openapp('{:U('portal/AdminTerm/index')}','index_termlist','{:L('PORTAL_ADMINTERM_INDEX')}');" title="{:L('PORTAL_ADMINTERM_INDEX')}">
                            <i class="fa fa-th"></i>
                        </a>
                    </if>

                    <if condition="sp_auth_check(sp_get_current_admin_id(),'portal/AdminPost/index')">
                        <a class="btn btn-small btn-info" href="javascript:openapp('{:U('portal/AdminPost/index')}','index_postlist','{:L('PORTAL_ADMINPOST_INDEX')}');" title="{:L('PORTAL_ADMINPOST_INDEX')}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </if>

                    <if condition="sp_auth_check(sp_get_current_admin_id(),'admin/setting/clearcache')">
                        <a class="btn btn-small btn-danger" href="javascript:openapp('{:U('admin/setting/clearcache')}','index_clearcache','{:L('ADMIN_SETTING_CLEARCACHE')}');" title="{:L('ADMIN_SETTING_CLEARCACHE')}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </if>

                    <if condition="APP_DEBUG">
                        <a class="btn btn-small" href="javascript:openapp('{:U('admin/menu/index')}','index_menu','{:L('ADMIN_MENU_INDEX')}');" title="{:L('ADMIN_MENU_INDEX')}">
                            <i class="fa fa-list"></i>
                        </a>
                    </if>
                </div>
                <ul class="nav simplewind-nav pull-right">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <if condition="$admin['avatar']">
                                <img class="nav-user-photo" width="30" height="30" src="{:sp_get_user_avatar_url($admin['avatar'])}" alt="{$admin.user_login}">
                                <else />
                                <img class="nav-user-photo" width="30" height="30" src="__TMPL__Public/assets/images/logo-18.png" alt="{$admin.user_login}">
                            </if>
							<span class="user-info">
								{:L('WELCOME_USER',array('username'=>empty($admin['user_nicename'])?$admin['user_login']:$admin['user_nicename']))}
							</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                            <if condition="sp_auth_check(sp_get_current_admin_id(),'admin/setting/site')">
                                <li><a href="javascript:openapp('{:U('setting/site')}','index_site','{:L('ADMIN_SETTING_SITE')}');"><i class="fa fa-cog"></i> {:L('ADMIN_SETTING_SITE')}</a></li>
                            </if>
                            <if condition="sp_auth_check(sp_get_current_admin_id(),'admin/user/userinfo')">
                                <li><a href="javascript:openapp('{:U('user/userinfo')}','index_userinfo','{:L('ADMIN_USER_USERINFO')}');"><i class="fa fa-user"></i> {:L('ADMIN_USER_USERINFO')}</a></li>
                            </if>
                            <if condition="sp_auth_check(sp_get_current_admin_id(),'admin/setting/password')">
                                <li><a href="javascript:openapp('{:U('setting/password')}','index_password','{:L('ADMIN_SETTING_PASSWORD')}');"><i class="fa fa-lock"></i> {:L('ADMIN_SETTING_PASSWORD')}</a></li>
                            </if>
                            <li><a href="{:U('Public/logout')}"><i class="fa fa-sign-out"></i> {:L('LOGOUT')}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>